
#formcontainer { 
	font-family: Open Sans;
	width: 450px;
	margin: 20px 0px 20px 480px;
	background-color: #643ff7;
	padding: 10px 20px 20px 20px;
	border-radius: 3%;
	color: white;
	box-sizing: border-box;
}

.form-group {
	margin: 1em 0;
	position: relative;
}

.form-group label {
	display: block;
}

.form-group input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]):not([type="button"]) {
	font-size: 1.4em;
	padding: .5em;
}

.form-group textarea {
	font-size: 1.2em;
}

.form-group 
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]):not([type="button"]),
.form-group textarea { 
	width: 100%;
	box-sizing: border-box;
	border: 1px inset #999;
}

.form-group 
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]):not([type="button"]).invalid,
.form-group textarea.invalid {
	border: 1px outset #c00;
	color: #c00;
	background-color: #fcc;
}

.danger {
	background-color: #fcc;
	color: #c00;
	font-size: 0.8em;
	padding: 0 .5em;
	border-radius: 3px;
}

.form-group .danger {
	display: block;
	position: absolute;
	top: 3px;
	right: 0;
}



