#container {
    width: 960px;
    margin: 0 auto;
}

.logo {
	float:left;
	top:0px;
	margin-left: 10px;	
}

nav{
	font-size: 16px;

}	

#top_info {
	float:right;
	margin-right:10px;
	font-family: Open Sans;
	font-size: 25px;
}

/*navigation*/

li{
	display: inline;
}

nav a{
	
	padding: 30px 30px;
	font-family: Open Sans;
	font-weight: 400;
	text-decoration: none;
}

nav a:link{
	color: black;
}

nav a:visited{
	background-color:  yellow;
} 

nav a:hover{
	background-color: #643ff7;
	width: 20px;
	color: white;
}

nav a:active{
	background-color: yellow;
}

h1{
	font-family: Open Sans;
	font-weight: 700;
    font-size:  18px;
}

h2{
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  color: white;
}


p {
    font-family: Open Sans;
    font-weight: 400;
}

.one {
	padding:10px;
    width: 350px;
    background-color: #643ff7;
    opacity: 0.8;
    color: white;
    position: absolute;
    top: 250px;
    text-align: vertical;
 }

 .one p{
    opacity: 1;
 }

.twoindex {
    padding:10px;
    width: 650px;
    background-color: #fff200;
    opacity: 0.8;
    position: absolute;
    top: 350px;
 }

 .twoindex p{
    opacity: 1;
 }

 .two {
    padding:10px;
    width: 450px;
    margin-bottom: 50px;
    background-color: #fff200;
    opacity: 0.5;
    position: absolute;
    top: 350px;
 }

 .twobookings {
    padding:10px;
    width: 450px;
    background-color: #fff200;
    opacity: 0.8;
    position: absolute;
    top: 350px;
 }

 .twobookings p{
    opacity: 1;
 }

.planes {
    background-image: url(../image/backgrounds/clouds.jpg);
    background-size: auto 100%;
    background-position: 100% 0;
}

.plane {
    width: 50%;
    float: left;
    padding: 2em;
    box-sizing: border-box;
}

.plane img {
    width: 40%;
}

.pilot {
    float: left;
    width: 50%;
    text-align: justify;
    padding: 1em 1em;
    box-sizing: border-box;
}

.pilot img {
    border-radius: 50%;
    width: 30%;
    display: block;
}

.tours {
    background-image: url(../image/backgrounds/snowymountains.jpg);
    background-size: auto 100%;
    background-position: 100% 0;
}

.toursplane {
    width: 50%;
    float: left;
    padding: 2em 0em 2em 6em;
    box-sizing: border-box;
}

.toursplane img {
    width: 80%;
}

.gallery {
    background-image: url(../image/backgrounds/snowcapmountains.jpg);
    background-size: auto 100%;
    background-position: 100% 0;
}

.bookings {
    background-image: url(../image/backgrounds/lake.jpg);
    background-size: auto 70%;
    background-position: 100% 0;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.button {
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 400;
    margin: 30px;
    color: white;
    text-align: center;
    border: solid 2px;
    border-radius: 10px;
    border-color: white;
    background-color: transparent; 
    width: 180px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

#page {
    text-decoration: none;
    margin-top: 100px;
}

.popup-gallery {
    margin: 80px 30px;
    padding: 40px;

}

#open-popup {padding:20px}
.white-popup {
  position: relative;
  padding: 40px;
  width: auto;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

footer {
  padding-left: 40px;
  clear: both;
  background-color: #643ff7;
  color: white;
  font-size: 20px;
  font-family: Open Sans;
  font-weight: 300;
  position:relative;
 }

#bookingsfooter {
    clear: both;
    height : 450px;
    padding-left: 20px;
    padding-top: 40px;
    background-color: #643ff7;
    color: white;
    font-size: 15pt;
    font-family: Open Sans;
    font-weight: 300;
    position:relative;
 }